window.bar {
    background-color: black;
    color: white;
    font-family: "JetBrains mono";
}

.workspaces {
    background-color: #33312b;
    border-radius: 20%;
}

.menu{
    background: #78dbaa;
    min-width: 50px;
}


.cmButton{
background: #78dbaa;
min-width: 50px;
}



button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    border-radius: 20%;
    color: #78dbaa;
}

button:active {
    background: red;
}

button:hover {
    border-bottom: 3px solid #78dbaa;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid #78dbaa;
}
