window.bar {
    background-color: black;
    color: white;
    font-family: "JetBrainsMono Nerd Font";
}

.workspaces {
    background-color: black;
    border-radius: 0%;
}

.menu{
    background: #78dbaa;
    min-width: 50px;
}



.volume{
  color: #78dbaa;
}

button {
    padding-top: 0;
    padding-bottom: 0;
    margin: 5px;
    background: black;
    border-radius: 0%;
    color: #78dbaa;
}

button:active {
    color: white;
}

button:hover {
    color: white;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    color: white;
}
